*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{

    background:#ececec;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

}

/* Main */

.container{

    position:relative;

    width:700px;
    height:550px;

}

/* White Card */

.back-card{

    width:420px;
    height:180px;

    background:white;

    border-radius:45px;

    position:absolute;

    top:30px;
    left:140px;

    text-align:center;

    padding-top:18px;

    box-shadow:
    0px 20px 40px rgba(0,0,0,.15);

}

.back-card h2{

    font-size:22px;
    font-weight:500;
    color:#333;

}

/* Blue Card */

.front-card{

    position:absolute;

    top:80px;
    left:120px;

    width:460px;
    height:330px;

    border-radius:40px;

    padding:35px;

    color:white;

    background:linear-gradient(
    to bottom,
    #2fa5ff,
    #0d6dd2
    );

    box-shadow:
    0 30px 60px rgba(0,0,0,.25);

}

/* Money */

.money-section h3{

    font-weight:300;

    margin-bottom:10px;

}

.money-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.money-row h1{

    font-size:45px;
    font-weight:500;

}

.details{

    border:none;

    background:#114d83;

    color:white;

    padding:10px 22px;

    border-radius:30px;

    cursor:pointer;

}

/* Category Buttons */

.category{

    display:flex;

    justify-content:space-between;

    margin-top:40px;

}

.category button{

    border:none;

    background:white;

    color:#333;

    padding:10px 25px;

    border-radius:25px;

    cursor:pointer;

    font-size:15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,.15);

}

/* Plus */

.plus{

    width:75px;

    height:75px;

    border-radius:50%;

    background:#0b4e87;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:50px;

    margin:55px auto 10px;

    cursor:pointer;

    box-shadow:
    0 15px 25px rgba(0,0,0,.2);

}

.front-card p{

    text-align:center;

    font-size:15px;

    color:#e5e5e5;

}